In [55]:
import pandas as pd

#  Read data files and concat them

In [56]:
students_mat = pd.read_csv('student-mat.csv')
students_por = pd.read_csv('student-por.csv')
assert all(students_mat.columns == students_por.columns)

students = pd.concat([students_mat, students_por])
students.reset_index(inplace=True, drop=True)

print(students.shape)
students.head()

(1044, 33)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

#  Delete duplicate students

There are students who attended both classes.

In [57]:
id_columns = list(students.columns) 
id_columns.remove('absences')
id_columns.remove('G1')
id_columns.remove('G2')
id_columns.remove('G3')

students[students.duplicated(subset=id_columns, keep=False)]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,6,6,5,6
11,GP,F,15,U,GT3,T,2,1,services,other,...,5,2,2,1,1,4,4,10,12,12
14,GP,M,15,U,GT3,A,2,2,other,other,...,4,5,2,1,1,3,0,14,16,16
15,GP,F,16,U,GT3,T,4,4,health,other,...,4,4,4,1,2,2,4,14,14,14
17,GP,F,16,U,GT3,T,3,3,other,other,...,5,3,2,1,1,4,4,8,10,10
20,GP,M,15,U,GT3,T,4,3,teacher,other,...,4,4,1,1,1,1,0,13,14,15
21,GP,M,15,U,GT3,T,4,4,health,health,...,5,4,2,1,1,5,0,12,15,15
22,GP,M,16,U,LE3,T,4,2,teacher,other,...,4,5,1,1,3,5,2,15,15,16
23,GP,M,16,U,LE3,T,2,2,other,other,...,5,4,4,2,4,5,0,13,13,12
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,...,4,4,5,5,5,5,16,10,12,11
30,GP,M,15,U,GT3,T,4,4,health,services,...,5,4,2,3,4,5,0,9,11,12
31,GP,M,15,U,GT3,T,4,4,services,services,...,4,3,1,1,1,5,0,17,16,17
32,GP,M,15,R,GT3,T,4,3,teacher,at_home,...,4,5,2,1,1,5,0,17,16,16
33,GP,M,15,U,LE3,T,3,3,other,other,...,5,3,2,1,1,2,0,8,10,12
35,GP,F,15,U,GT3,T,2,3,other,other,...,3,5,1,1,1,5,0,8,7,6
36,GP,M,15,U,LE3,T,4,3,teacher,services,...,5,4,3,1,1,4,2,15,16,18
37,GP,M,16,R,GT3,A,4,4,other,teacher,...,2,4,3,1,1,5,7,15,16,15
41,GP,M,15,U,LE3,T,4,4,teacher,other,...,5,4,3,2,4,5,8,12,12,12
42,GP,M,15,U,GT3,T,4,4,services,teacher,...,4,3,3,1,1,5,2,19,18,18
43,GP,M,15,U,GT3,T,2,2,services,services,...,5,4,1,1,1,1,0,8,8,11
44,GP,F,16,U,LE3,T,2,2,other,at_home,...,4,3,3,2,2,5,14,10,10,9
45,GP,F,15,U,LE3,A,4,3,other,other,...,5,2,2,1,1,5,8,8,8,6
46,GP,F,16,U,LE3,A,3,3,other,services,...,2,3,5,1,4,3,12,11,12,11
47,GP,M,16,U,GT3,T,4,3,health,services,...,4,2,2,1,1,2,4,19,19,20
57,GP,M,15,U,GT3,T,4,4,teacher,health,...,3,2,2,1,1,5,4,14,15,15
58,GP,M,15,U,LE3,T,1,2,other,at_home,...,4,3,2,1,1,5,2,9,10,9
60,GP,F,16,R,GT3,T,4,4,health,teacher,...,2,4,4,2,3,4,6,10,11,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
786,GP,F,17,U,GT3,T,3,4,services,other,...,4,4,5,1,3,5,8,11,13,14
788,GP,F,18,U,LE3,T,3,3,services,services,...,5,3,3,1,1,1,4,14,14,15
791,GP,M,18,U,LE3,T,3,4,services,other,...,4,3,3,1,3,5,6,16,16,17
793,GP,F,18,U,GT3,T,2,3,at_home,other,...,4,3,3,1,2,3,0,11,12,14
794,GP,F,18,U,GT3,T,3,2,other,services,...,5,4,3,2,3,1,4,14,16,17
795,GP,M,18,R,GT3,T,4,3,teacher,services,...,5,3,2,1,2,4,4,15,14,17
837,MS,M,15,R,LE3,T,4,1,health,services,...,5,3,4,1,2,2,0,12,13,14
838,MS,M,15,R,LE3,T,4,1,health,services,...,5,3,4,1,2,2,7,7,9,8
848,MS,F,16,U,GT3,T,1,2,other,services,...,1,3,2,1,2,4,0,10,8,8
849,MS,F,16,U,GT3,T,1,2,other,services,...,1,3,2,1,2,4,3,9,8,8
975,MS,M,19,R,GT3,T,1,1,other,other,...,4,4,4,3,3,5,4,8,9,10
1008,MS,F,18,U,GT3,T,3,3,services,services,...,5,3,4,1,1,5,0,10,10,10
1009,MS,F,17,R,GT3,T,4,4,teacher,services,...,4,3,3,1,2,5,2,12,12,12
1010,MS,F,17,U,LE3,A,3,2,services,other,...,1,2,3,1,2,5,0,15,14,15
1011,MS,M,18,U,LE3,T,1,1,other,services,...,3,3,2,1,2,3,2,14,13,14
1012,MS,F,18,U,LE3,T,1,1,at_home,services,...,5,3,2,1,1,4,0,19,17,18
1014,MS,F,18,U,GT3,T,3,3,services,services,...,4,3,2,1,3,3,6,13,12,13
1016,MS,F,17,R,GT3,T,1,2,other,services,...,3,2,2,1,2,3,0,13,13,13
1017,MS,M,18,R,GT3,T,1,3,at_home,other,...,3,3,4,2,4,3,0,8,10,9
1023,MS,F,17,U,GT3,T,2,2,other,at_home,...,3,4,3,1,1,3,8,10,11,12
1024,MS,F,17,R,GT3,T,1,2,other,other,...,3,5,5,1,3,1,4,7,8,9
1025,MS,F,18,R,LE3,T,4,4,other,other,...,5,4,4,1,1,1,0,15,17,17
1026,MS,F,18,R,GT3,T,1,1,other,other,...,4,3,2,1,2,4,4,10,11,12
1032,MS,M,18,R,GT3,T,2,1,other,other,...,4,4,3,1,3,5,0,7,7,0
1033,MS,M,17,U,GT3,T,2,3,other,services,...,4,4,3,1,1,3,4,14,15,16
1034,MS,M,19,R,GT3,T,1,1,other,services,...,4,3,2,1,3,5,0,5,8,0
1035,MS,M,18,R,GT3,T,4,2,other,other,...,5,4,3,4,3,3,0,7,7,0
1039,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
1042,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
1043,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

In [58]:
students.drop_duplicates(subset=id_columns, inplace=True)
students.shape

(880, 33)

In [59]:
students.reset_index(inplace=True, drop=True)
students.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
875,MS,F,18,R,GT3,T,2,2,at_home,other,...,5,3,3,1,3,4,0,14,17,15
876,MS,F,17,U,GT3,T,4,3,teacher,other,...,5,5,4,1,1,1,0,6,9,11
877,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,4,3,2,2,5,4,7,9,10
878,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
879,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9

# Get rid of unwanted columns

In [60]:
students = students.drop("school", axis=1)
students = students.drop("guardian", axis=1)
students = students.drop("reason", axis=1)
students = students.drop(["failures", "schoolsup", "famsup"], axis=1)
students.head()

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,traveltime,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,F,18,U,GT3,A,4,4,at_home,teacher,2,...,4,3,4,1,1,3,6,5,6,6
1,F,17,U,GT3,T,1,1,at_home,other,1,...,5,3,3,1,1,3,4,5,5,6
2,F,15,U,LE3,T,1,1,at_home,other,1,...,4,3,2,2,3,3,10,7,8,10
3,F,15,U,GT3,T,4,2,health,services,1,...,3,2,2,1,1,5,2,15,14,15
4,F,16,U,GT3,T,3,3,other,other,1,...,4,3,2,1,2,5,4,6,10,10

#  Add average alcohol consumption

In [61]:
students['Aalc'] = (5*students['Dalc'] + 2*students['Walc'])/7
print(students.shape)
students.head()

(880, 28)

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,traveltime,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,Aalc
0,F,18,U,GT3,A,4,4,at_home,teacher,2,...,3,4,1,1,3,6,5,6,6,1.000000
1,F,17,U,GT3,T,1,1,at_home,other,1,...,3,3,1,1,3,4,5,5,6,1.000000
2,F,15,U,LE3,T,1,1,at_home,other,1,...,3,2,2,3,3,10,7,8,10,2.285714
3,F,15,U,GT3,T,4,2,health,services,1,...,2,2,1,1,5,2,15,14,15,1.000000
4,F,16,U,GT3,T,3,3,other,other,1,...,3,2,1,2,5,4,6,10,10,1.285714

# Get rid of yes/no values

In [63]:
students.replace('yes', True, inplace=True)
students.replace('no', False, inplace=True)

In [66]:
students[['internet', 'romantic']].head()

   internet  romantic
0     False     False
1      True     False
2      True     False
3      True      True
4     False     False

# Save to file

In [67]:
students.to_csv("students.csv")